/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --font-primary: #000000;
    --font-secondary: #141414;
    --background-color: #FFFFFF;
    --green-primary: #428A2F;
    --green-secondary: #E5EFE2;
    --blue-primary: #3D63AC;
    --blue-secondary: #E4E9F3;
    --yellow-primary: #B09E3D;
    --yellow-secondary: #F4F1E4;
}